{% extends "base.html" %}

{% block content %}
    <h2>Página Principal</h2>

    <!-- Mensajes flash (muestra cuando cierras sesión o borras la cookie) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: blue;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Validación de la cookie -->
    {% if ultimo_usuario %}
        <p>Último usuario registrado: {{ ultimo_usuario }}.</p>
        <p><a href="{{ url_for('eliminar_cookie') }}">Eliminar último usuario (cookie)</a></p>
    {% else %}
        <p>Bienvenido al Portal de Biblioteca.</p>
    {% endif %}
{% endblock %}